{% extends "llrestaurant/base.html" %}

{% block content %}
<h1>About</h1>
<p>
    Based in Chicago, Illinois, Little Lemon is a family owned
    Mediterranean restaurant, focused on traditional recipes served with a
    modern twist.
</p>
<p>
    The chefs draw inspiration from Italian, Greek, and Turkish culture
    and have a small menu that they rotate seasonally.
</p>
<p>
    The restaurant has a rustic and relaxed atmosphere with moderate
    prices, making it a popular place for a meal any time of the day.
</p>
{% endblock %}