{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LL Restaurant</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allura&family=Open+Sans:ital,wght@0,400;0,700;1,500&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    {% include "llrestaurant/partials/_header.html" %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
    {% include "llrestaurant/partials/_footer.html" %}
</body>
</html>